{% extends 'spotify/base.html'%}
{% block content %}

   


    <section id="pricing" class="bg-gradient-very-light-gray">
  
      <div class="container-sm">
        <div class="card bg-light text-center text-dark">
          <img src="{{ song.song_image.url }}" class="card-img" alt="..." width="150" height="200">
          <div class="card-img-top my-3">
            <!-- <h5 class="card-title fw-800 ls-minus-3px text-dark-gray mb-30px fancy-text-style-4">Title: {{ song.song_title }}</h5>
            <h6 class="card-title fw-800 ls-minus-3px text-dark-gray mb-30px fancy-text-style-4">Author: {{ song.song_author }}</h6> -->
            <audio controls class="w-100 rounded-0">
              <source src="{{ song.audio.url }}" type="audio/mpeg">
              <source src="myAudio.ogg" type="audio/ogg">
              <p>Your browser doesn't support HTML5 audio. Here is
                 a <a href="myAudio.mp3">link to the audio</a> instead.</p>
            </audio>
          </div>
        </div>
      </div>
    </section> 



{% endblock content%}