{% extends 'spotify/base.html'%}
{% load static %}
{% block content %}
      <section id="pricing" class="bg-gradient-very-light-gray">
  
        <div class="container login_page_parent_wrap">
          <div class="row align-items-center">
            <div class="col-6">
              <img style="height: 400px;" src="{% static 'old/images/register-banner.jpeg' %}" alt="register">
            </div>
            <div class="col-6">
              <div>
                <form method="POST" style="font-weight: 800; color: #333; margin-bottom: 30px;">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-lg btn-dark-gray btn-hover-animation-switch btn-box-shadow btn-round-edge section-link">Register</button>
                </form>
                <!-- <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
                <small>Don't have an account ?<a href="{% url 'signup'%}"> register</a></small> -->
                </div>
            </div>
          </div>
        </div>
        </div>
      </section> 



{% endblock content %}